/* HEADER */
header{
  background-color: #2C3D50;
  color: white;
  height: 60px;
}
.fl_voice-menu{
  font-size: 11px;
  color: white;
  cursor: pointer;
}

/* JUMBOTRON */
.fl_hamburger-menu{
  padding: 0px 7px;
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
}
.fl_hamburger-menu i{
  color: grey;
}
.fl-jumbotron{
  margin-top: 60px;
  width: 100%;
}
.fl_bg-green{
  background-color: #1abc9c;
}
.fl-jumbotron div img{
  width: 150px;
}
/* PORTFOLIO */
.section-portfolio div div ._box{
  margin: 7px;
}
.section-portfolio div div ._box img{
  width: 100%;
  border-radius: 10px;
}

/* ABOUT */
.fl_container-60{
  width: 65%;
  margin: 0 auto;
}
.fl_bnt-section-about{
  width: 120px;
}

/* CONTACT */
.fl_section-contact div div input{
  border: none;
  border-bottom: 1px solid grey;
}
.fl_section-contact div div textarea{
  border: none;
  border-bottom: 1px solid grey;
}
::placeholder {
  color: black;
  opacity: 1;
  }
.fl_bnt-green{
  background-color: #1abc9c;
  border-color: #1abc9c;
}


footer{
  background-color: midnightblue;
}

/* Elements */

._box{
  /* background-color: lightseagreen;
  border: 1px solid rgb(255, 255, 255);
  min-height: 50px;
  color: white;
  text-align: center;
  line-height: 50px; */
}
._box._box-r{
  text-align:left;
}
._box-nesting{
  padding: 10px;
  color: white;
  text-align: center;
  border: 1px solid white;
  background-color: rgb(46, 230, 22);
  min-height: 30px;
}




